/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black; 
    
  }
  
  /* Estilos del encabezado */
  header {
    
    padding: 20px;
    text-align: center;
    color: rosybrown;
  }
  h1 {
    font-size: 36px;
    margin: 0;
    color:black;
    -webkit-text-fill-color: black;
  }
  h2{
    font-size: 36px;
    margin: 0;  
    color:black;
    -webkit-text-fill-color: black;
    border-color: black;
  }

  p {
    font-size: 18px;
    margin: 0;
  }
  
  /* Estilos de la barra de navegación */
  nav {
    background-color: rosybrown;
    padding: 10px;
    text-align: center;

    position: sticky;
    top: 0;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: rgb(175, 118, 118) ;
  }
  
  /* Estilos de las secciones */
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #663399
      
  }
  
  h2 {
    font-size: 24px;
    background-color: rosybrown;
    text-decoration-color: black;
    align-items: left;
    text-decoration: double ;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  /* Estilos de los testimonios */
  .testimonial {  
    margin: 0;
    background: rosybrown;
    padding: 10px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 black;
    background-image: linear-gradient(rosybrown, pink);
    -webkit-text-stroke-color: black;
    text-align: justify;
  }

  
  .testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .testimonial img:hover{
    transform: scale(1.1);
  }
  blockquote {
    font-style: italic;
    
  }
  
  blockquote p {
    margin-bottom: 5px;
  }
  
  cite {
    font-weight: bold;
    transform: scale(1.1  );
    -webkit-text-fill-color: black;
  }
 .names:hover{
  transform: scale(1.2);
  .names{
    color: black  ;
    -webkit-text-fill-color: black;
  }
  

  

 }
  
  /* Estilos del pie de página */
  footer {
    background-color: #663399;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  .add{
    background-color: rosybrown;
    border-color: black;

    
  }
  .add:hover{
  background-color: rgb(191, 131, 131) ;
  transform: scale(1.1);

  }
  
  .menu{
    background-color:  rosybrown;
    border: salmon;
    border-bottom: rosybrown;
    -webkit-text-fill-color: black;
    scale: 1.1;
    display: inline-block;
    position: static;
  }
  
  

    
  
