/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black; 
    
  }
  
  /* Estilos del encabezado */
  header {
    
    padding: 20px;
    text-align: center;
  }
  h1 {
    -webkit-text-fill-color: white;
    text-decoration: overline red;
    text-decoration: underline red;
    font-family: 'Poppins' , sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    margin: 0;
    background-position: center;
    font-weight: 800;
    text-shadow:10px 8px rgb(29, 26, 26);
  }
 

  h2{
    font-size: 36px;  
    margin: 0;  
    color:black;
    -webkit-text-fill-color: black;
    border-color: black;
  }

  p {
    font-size: 18px;
    margin: 0;
  }
  
  /* Estilos de la barra de navegación */
  nav {
    background-color: black;
    padding: 10px;
    text-align: center;

    position: sticky;
    top: 0;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: rgb(175, 118, 118) ;
  }
  
  /* Estilos de las secciones */
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: gray;
    background-image: url(https://t4.ftcdn.net/jpg/05/81/59/61/360_F_581596130_SYR8NdzWPQuCiJHsxhDXVHT2M0AKRr9U.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

      
  }
  
  h2 {
    font-size: 24px;  
    text-decoration-color: black;
    align-items: left;
    text-decoration: double ;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  /* Estilos de los testimonios */
  .testimonial { 
    margin: 0;
    padding: 10px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: black;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #000000;

    -webkit-text-stroke-color: black;
    text-align: justify;
  }

  
  .testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .testimonial img:hover{
    transform: scale(1.1);
  }
  blockquote {
    font-style: italic;
    
  }
  
  blockquote p {
    margin-bottom: 5px;
  }
  
  cite {
    font-weight: bold;
    transform: scale(1.1  );
    -webkit-text-fill-color:black;
    
  }
 .names:hover{
  transform: scale(1.2);
  .names{
    color: black  ;
    -webkit-text-fill-color: black;
  }
  

  

 }
  
  /* Estilos del pie de página */
  footer {
    background-color: black;
    color:white;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  .add{
    background-color: black;
    border-color: black;
    color: white;
    
    

    
  }
  .add:hover{
    background-color: red;
    transform: scale(1.05);
    transition: transform 300ms;

  }

  .mbr{
    background-color: black;
    color: white;
    border: black;
    position: relative;
    overflow: hidden;
  }
  .mbr::after{
    content: "*NO DISPONIBLE*";

    color: #fff;
    background-color: #16456198;
    position: absolute;
    inset: 0; 
    display: grid;
    place-items: center;
    transform: translateY(100%);
    transition: transform 200ms;
  }
  .mbr:hover{
    transform: scale(1.05);
    transition: transform 300ms;
  }

  .mbr:hover::after{
    transform: translateY(0);
    
  }


  




  

  
  .menu{
    background-color:  rosybrown;
    border: salmon;
    border-bottom: rosybrown;
    -webkit-text-fill-color: black;
    scale: 1.1;
    display: inline-block;
    position: static;
  }
  
  

    
  
